html {
  height: 100%; }

body {
  min-height: 100%;
  margin: 0px; }
  body .selected {
    font-weight: 400; }
  body h1 {
    font-size: 2em; }
  body p {
    font-weight: 100;
    color: #95989A; }
  body #aboutInfo p {
    font-size: 1.25em;
    line-height: 1.5em; }
  body a {
    color: black;
    text-decoration: none;
    font-weight: 100; }
  body .logo {
    font-size: 150%;
    font-weight: 700; }
  body .colorOne {
    background: #95a3b3; }
  body .colorTwo {
    background: #d3c5c2; }
  body .colorThree {
    background: #f5ccb0; }
  body .colorFour {
    background: #d8c6d6; }
  body .colorFive {
    background: #d8c6d6; }
  body .portrait {
    max-height: 90%; }
  body .landscape {
    height: 80vh; }
  body .headBox {
    display: inline;
    position: fixed;
    bottom: 18vh;
    left: 8vw;
    font-size: 15px;
    line-height: 21px;
    width: 20%;
    background: #fff;
    min-width: 300px;
    max-height: 400px;
    height: 55%;
    padding: 20px 0px 20px 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1); }
  body #mainNav {
    float: left; }
  body #contactForm {
    display: inline;
    position: fixed;
    bottom: 10vh;
    left: 25vw;
    font-size: 15px;
    line-height: 21px;
    width: 70%;
    background: #fff;
    min-width: 300px;
    height: 80%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1); }
  body #contactProf {
    height: 100%;
    left: 0vw;
    margin: 0;
    border-radius: 5px 0px 0px 5px;
    float: left; }
  body #aboutInfo {
    padding: 20px;
    overflow: hidden; }
  body .softwareBox {
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
  body .softwareBoxAfter {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1); }
  body #bannerText {
    float: right;
    width: 35px;
    height: fit-content; }
    body #bannerText #date {
      display: block;
      float: right;
      transform: rotate(90deg);
      margin-top: 15px;
      transform-origin: center center 0;
      font-size: 17px;
      font-family: 'Anonymous Pro', monospace; }
    body #bannerText #designed {
      display: block;
      margin-top: 210px;
      margin-left: 28px;
      transform: rotate(90deg);
      transform-origin: left top 0;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      width: 300px; }
  body #bannerLine {
    float: right;
    width: 2px; }
  body .colorRectangle {
    transition: 0.8s all;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 40%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: -1;
    box-shadow: 0 10px 25px 0 rgba(50, 94, 128, 0.2); }
  @media (max-width: 700px) {
    body .colorRectangle {
      width: 60%; } }
  body .hidden {
    display: none;
    opacity: 0; }
  body .photoScroll {
    display: flex;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    z-index: 0;
    height: 100vh;
    top: 50%; }
    body .photoScroll::-webkit-scrollbar {
      display: none; }
    body .photoScroll img {
      position: relative;
      left: 25vw;
      flex: 0 0 auto;
      margin: auto 20px; }
    @media (max-width: 700px) {
      body .photoScroll img {
        left: 40vw; } }
  body ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
    margin: 40px 0;
    font-family: sans-serif; }
    body ul li {
      margin: 30px 0;
      font-size: 130%;
      cursor: pointer; }
      body ul li a {
        font-family: 'Poppins', sans-serif; }
