body .headBox {
  position: fixed;
  bottom: 10vh;
  left: 10vw;
  font-family: Karla, sans-serif;
  font-size: 15px;
  line-height: 21px;
  width: 20%;
  background: #fff;
  max-height: 540px;
  height: 70%;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body .colorRectangle {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 40%;
  height: 100%;
  background: #ffecb3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
