doctype html
html(lang='en')
  head
    link(rel="stylesheet" href="/css/style.css") 
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700,900" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Poppins:100,200,400" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet")
    title Cody Hsieh
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js")
    script(src="https://raw.githubusercontent.com/cowboy/jquery-hashchange/v1.3/jquery.ba-hashchange.min.js")
    script(src='/js/script.js')
  body
    div(id='rectangle' class='colorRectangle colorOne')
    section(id='main-content')
      div(id='photosList' class='exampleList photoScroll')
        div(id='contactForm' class='softwareBoxAfter')
            img(id='contactProf' src='/images/1.jpg')
            div(id='aboutInfo')
                h1: a(class='logo') about me
                p Thanks for getting the chance to check out my website! I'm currently a junior studying EECS at the University of California, Berkeley. On a average you'll either find me on a photoshoot, making music, or pulling my hair out trying to debug my newest programming project. Right now, my passion is using Machine Learning to solve really interesting, new problems. I'll be blogging about stuff like that as well as posts about music and photography so be on a lookout for that! If you want to check out any work that I've done, be sure to click the links to the left. If you want to see my resume, there's a link right above the Contact Me section.
                h1: a(class='logo') contact me
                h3 Email
                h3 Phone Number: 602-380-1585
    div(class='headBox')
      div(id='mainNav')
        h1: a(class='logo' href="index.html", title="Recent") cody hsieh
        p coder, photographer, musician
        nav
          ul
            li: a(class="navLink" href="index.html" title="Photos") photos
            li: a(class="navLink" href="projects.html" title="Projects") projects
            li: a(class="navLink" href="blog.html" title="Blog") blog
            li: a(class="navLink" href="contact.html" title="Contact")  contact 
      div(id='bannerText')
        div(id='date') 2017
        div(id='designed') Designed by Cody Hsieh
      svg(id='bannerLine' height='100%')
        line(x1="0" y1="0" x2="0" y2="100%" style="stroke:#95989A; stroke-width:2 stroke-opacity:36") 
      

