doctype html
html(lang='en')
  head
    link(rel="stylesheet" href="/css/style.css") 
    title Jade
    script(type='text/javascript').
      foo = true;
      bar = function () {};
      if (foo) {
      bar(1 + 5)
      }
  body
    div(class='colorRectangle')
    div(class='headBox')
      h1: a(href="index.html", title="Recent") cody hsieh
      p coder, photographer, musician
      div(class='nav')
        ul
          li photos
          li projects
          li blog
          li contact

