doctype html
html(lang='en')
  head
    link(rel="stylesheet" href="/css/style.css") 
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700,900" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Poppins:100,200,400" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet")
    title Cody Hsieh
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js")
    script(src="https://raw.githubusercontent.com/cowboy/jquery-hashchange/v1.3/jquery.ba-hashchange.min.js")
    script(src='/js/script.js')
  body
    div(id='rectangle' class='colorRectangle colorOne')
    div(id='projectsList' class='exampleList')
      div(class='project portrait')
        img(class='projImg softwareBox' src='/images/1.jpg')
        div(class='projBanner projectBox softwareBox')
          h1 wingit
      div(class='project portrait')
        img(class='projImg softwareBox' src='/images/1.jpg')
        div(class='projBanner projectBox softwareBox')
          h1 wingit
      div(class='project portrait')
        img(class='projImg softwareBox' src='/images/1.jpg')
        div(class='projBanner projectBox softwareBox')
          h1 wingit
      div(class='project portrait')
        img(class='projImg softwareBox' src='/images/1.jpg')
        div(class='projBanner projectBox softwareBox')
          h1 wingit
    div(class='headBox')
      div(id='mainNav')
        h1: a(class='logo' href="index.html", title="Recent") cody hsieh
        p coder, photographer, musician
        div(class='nav')
          ul
            li: a(class="selected navLink" href="index.html" title="Photos") photos
            li: a(class="navLink" href="projects.html" title="Projects") projects
            li: a(class="navLink" href="blog.html" title="Blog") blog
            li: a(class="navLink" href="contact.html" title="Contact")  contact 
      div(id='bannerText')
        div(id='date') 2017
        div(id='designed') Designed by Cody Hsieh
      svg(id='bannerLine' height='100%')
        line(x1="0" y1="0" x2="0" y2="100%" style="stroke:#95989A; stroke-width:2 stroke-opacity:36") 
      

